<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-4906593-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
<script src="http://static.getclicky.com/js" type="text/javascript"></script>
<script type="text/javascript">clicky.init(264540);</script>
<noscript><p><img alt="Clicky" width="1" height="1" src="http://in.getclicky.com/264540ns.gif" /></p></noscript>
